<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <div class="box-name">
                <i class="fa fa-table"></i>
                <span>Beauty Tables (Inputs in cell+Keyboard navigation)</span>
            </div>
            <div class="box-icons">

                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="expand-link">
                    <i class="fa fa-expand"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="no-move"></div>
        </div>
        <div class="box-content">

            <table class="table beauty-table table-hover">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Rank</th>
                    <th>Mobile OS</th>
                    <th>Home page</th>
                    <th>First Release</th>
                    <th>Last versions</th>
                    <th>Base kernel</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Android</td>
                    <td><input type="text" value="1"></td>
                    <td><input type="text" value="46.6%"></td>
                    <td><input type="text" value="http://android.com"></td>
                    <td><input type="text" value="23/09/2008"></td>
                    <td><input type="text" value="4.2.2"></td>
                    <td><input type="text" value="linux"></td>
                </tr>
                <tr>
                    <td>MeeGo</td>
                    <td><input type="text" value="5"></td>
                    <td><input type="text" value="2.6%"></td>
                    <td><input type="text" value="https://meego.com"></td>
                    <td><input type="text" value="26/05/2010"></td>
                    <td><input type="text" value="1.2.0.9"></td>
                    <td><input type="text" value="linux"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>